#buttonContainer{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    width: 100%;
}
.homeNavBar{
    color: teal;
}
.pageNavBar{
    color: teal;
}
#myName{
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
body{
    background-color: #002C56;
    color:honeydew;
    font-family:'Inter', sans-serif;
}
h1{
    font-size: 80px;

}

#aboutContainer{
    display: flex;
}
.pageTitle{
    top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#aboutContainer{
    display: flex;
}
#pictureContainer{
    float: left;
    margin-left: 5%;
    width: 20%;
}
.project{
width:30%;
}
.projectTitle{
    margin-left: 5%;
    width: 30%;
    display: flex;
    justify-content: center;
}
#projectPic{
    width: 100%;
}
#projectPicture{
    width: 100%;
}
.projectTitle{
    margin-right: 5%;
    width: 60%;
    float: left;
}

#about{
    margin-right: 5%;
    width: 60%;
    float: right;
}
#aboutContainer{
    display: flex;
    justify-content: space-around;
}
.picture{
    width: 100%;
}

#bottomNavBar{
    display:flex ;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    top: 0%;
    
}
#formContainer{
    border-style: dotted;
    border: teal;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
    height: 80%;

}
#emailInput{
    border-color: teal;
    width: 50%;
    background-color: #002C56;
    color: teal;
    padding: 2%;
    border-style: dashed;
}
#messageInput{
    border-style: dashed;
    border-color: teal;
    background-color: #002C56;
    width: 50%;
    color: teal;
    padding: 2%;
}
#nameInput{
    border-style: dashed;
    border-color: teal;
    width: 50%;
    background-color: #002C56;
    color: teal;
    padding: 2%;

}

#send{
    border-style: dashed;
    display: flex;
    float: right;
    bottom:20%;
    width: 10%;
    border-color:teal;
    background-color: #002C56;
    color: teal;
}
@media screen and (max-width: 600px){
    #buttonContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 50%;
        width: 100%;
    }
    #myName{
        align-items: center;
    }
    h1{
        font-size: 60px;
    }
    #bottomNavBar{
        display:flex ;
        width: 100%;
        justify-content: space-around;
        position: absolute;
        top: 90%;
    }
}